
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
}

@using TrueWays.Core
@model TrueWays.Core.Models.Result.ApiPageList<TrueWays.Core.Models.UserInfo>

<style type="text/css">
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>
<div class="page-header">
    <h1 class="form-inline">
        订单列表：
        <small>
            <i class="icon-search"></i>
            <div class="form-group">
                <input type="text" name="staff_keyword" id="userName" value="@(ViewBag.userName)" style="width: 160px;" class="form-control input-sm" placeholder="用户名">
            </div>
            <button type="button" class="btn btn-primary btn-sm " id="search">搜索</button>
        </small>
        <a href="/user/add" class="btn btn-info btn-sm pull-right settings"> <i class="glyphicon glyphicon-plus"></i> 添加员工</a>
    </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>登录账号</th>
                <th>系统角色</th>
                <th>手机</th>
                <th>状态</th>
                <th>提交时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PageList)
            {
                <tr align="center">
                    <td>@(index++)</td>
                    <td>@item.UserName</td>
                    <td>@item.LoginName</td>
                    <td>@item.UserRole.ToString()</td>
                    <td>@item.Mobile</td>
                    <td>@(item.Status == 0 ? "有效" : "无效")</td>
                    <td>@item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <a href="/user/edit/?userId=@(item.UserId)" class="settings">编辑</a>
                    </td>
                </tr>
            }
        </tbody>
        @if (Model.PageCount > 1)
        {
            <tfoot>
                <tr align="center">
                    <td colspan="8">
                        @(Html.Raw(Model.GetPagerHtml(string.Format("/user/index?userName={0}&page={1}", ViewBag.userName, "{0}"))))
                    </td>
                </tr>
            </tfoot>
        }
    </table>
</div>

<script type="text/javascript">
    $('.back-to-list').off('click').on('click', function () {
        var url = $('#page-content').attr('data-back-url');
        if (!url) {
            url = $(this).attr('href');
        }

        $.getPageContent({ url: url });
        return false;
    });

    $(".settings").off('click').on('click', function () {
        var url = $(this).attr('href');
        $.getPageContent({ url: url });
        return false;
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search').click(function () {
            var url = "/user/index?userName=" + $("#userName").val();
            $.getPageContent({ url: url });
            return false;
        });

        $('.pagination a').click(function () {
            var url = $(this).attr('href');
            $.getPageContent({ url: url });
            return false;
        });
    });
</script>
