
@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TrueWays.Core.Models.CustomerInfo

<style type="text/css">
    .panel {
        width: 99%;
        margin: 10px auto;
    }

    td {
        vertical-align: middle !important;
    }

    th {
        text-align: center !important;
    }

    .td_title {
        width: 100px;
        text-align: center;
    }

    .td_input {
        width: 200px;
    }

    .td-left {
        width: 350px;
    }
</style>
<div class="page-header">
    <h1 class="form-inline">
        添加商户
        <a href="/customer/index" class="btn btn-info btn-sm pull-right back-to-list pageCount"> <i class="icon-circle-arrow-left"></i> 返回列表</a>
    </h1>
</div>
<form class="form-inline" role="form" id="order-form" method="post" enctype="multipart/form-data" action="/customer/editCustomer">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">基本信息</div>
        <input type="hidden" name="deleteLogo" id="deleteLogo" value="0" />
        <input type="hidden" name="customerId" value="@Model.CustomerId" />
        <table class="table">
            <tr>
                <td class="td_title">商户编号：</td>
                <td><input type="text" value="@Model.ShopNo" readonly="readonly" class="td_input" /></td>
                <td class="td_title">联系人：</td>
                <td><input type="text" name="contactName" maxlength="40" value="@Model.ContactName" id="contactName" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">商户名称：</td>
                <td width="300"><input type="text" name="name" id="shopName" maxlength="40" value="@Model.ShopName" class="td_input" /></td>
                <td class="td_title">简称：</td>
                <td><input type="text" name="abbreviation" id="abbreviation" value="@Model.Abbreviation" maxlength="40" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">固定电话：</td>
                <td width="300"><input type="text" name="phone" id="phone" maxlength="24" value="@Model.Phone" class="td_input" /></td>
                <td class="td_title">手机：</td>
                <td><input type="text" name="mobile" id="mobile" maxlength="24" value="@Model.Mobile" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">地址：</td>
                <td width="300"><input type="text" name="address" id="address" value="@Model.Address" maxlength="200" class="td_input" /></td>
                <td class="td_title">业务员：</td>
                <td><input type="text" name="salesman" id="salesman" maxlength="40" value="@Model.Salesman" class="td_input" /></td>
            </tr>
            <tr>
                <td class="td_title">状态：</td>
                <td colspan="3">
                    <select name="status" id="status" class="form-control input-sm filter_goods">
                        <option value="0" @(Model.Status == 0 ? "selected" : "" )>有效</option>
                        <option value="1" @(Model.Status == 1 ? "selected" : "" )>无效</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td_title">商户LOGO：</td>
                <td colspan="3">
                    @if (!string.IsNullOrWhiteSpace(Model.Logo))
                    {
                        <img src="@Model.Logo" id="preview" style="width: 100px; height: 100px;" />
                        <button type="button" class="btn btn-default" id="delLogo">删除</button>
                    }
                    <input type="file" id="file" name="file" onchange="change()" value="请选择logo" />
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading" style="padding:7px 15px;">
            商户备注
        </div>
        <div class="panel-body">
            <div class="col-lg-10">
                <div class="form-group">
                    <label>备注：</label>
                    <textarea rows="7" cols="120" maxlength="500" name="remark" id="remark" class="form-control">@Model.Remark</textarea>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>

    <div style="width:300px; margin:5px auto;">
        <input type="hidden" name="action" value="dosubmit">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel" data-back-url="/customer/index">取消</button>
        <button type="button" class="btn btn-primary" id="order-save">保存</button>
    </div>
</form>
<script type="text/javascript">
    $('.back-to-list').off('click').on('click', function () {
        var url = $('#page-content').attr('data-back-url');
        if (!url) {
            url = $(this).attr('href');
        }

        $.getPageContent({ url: url });
        return false;
    });

    $("#cancel").click(function () {
        $.getPageContent({ url: "/customer/index" });
    });

    $("#delLogo").click(function() {
        $("#deleteLogo").val("1");
        $("#preview").hide().attr("src", "");
        $("#delLogo").hide();
        $("#file").val("");
    });

    $("#order-save").click(function () {
        if ($("#shopName").val().length < 1) {
            return layer.tips("请输入商户名", $("#shopName"), { tips: [2, '#438eb9'] });
        }
        if ($("#abbreviation").val().length < 1) {
            return layer.tips("请输入商户简称", $("#abbreviation"), { tips: [2, '#438eb9'] });
        }
        if ($("#contactName").val().length < 1) {
            return layer.tips("请输入联系人", $("#contactName"), { tips: [2, '#438eb9'] });
        }
        if ($("#address").val().length < 1) {
            return layer.tips("请输入商户地址", $("#address"), { tips: [2, '#438eb9'] });
        }
        if ($("#salesman").val().length < 1) {
            return layer.tips("请输入业务员", $("#salesman"), { tips: [2, '#438eb9'] });
        }
        $.ajax({
            cache: true,
            type: "POST",
            url: "/customer/editCustomer",
            data: new FormData($('#order-form')[0]), // 你的formid
            async: false,
            processData: false,
            contentType: false
        }).done(function (res) {
            if (res.data === 1) {
                layer.confirm("保存成功", function () { $.getPageContent({ url: "/customer/index" });
                    layer.closeAll();
                });
            } else{
                layer.msg(res.message);
            }
        }).fail(function (res) {
            layer.alert("保存失败");
        });
        return true;
    });

    function change(a) {
        if ($("#file")[0].files[0].type.indexOf("image") > -1) {
            var src = window.URL.createObjectURL($("#file")[0].files[0]);
            $("#preview").show().attr("src", src);
            $("#delLogo").show();
        } else {
            layer.msg("文件格式错误");
        }
    }

</script>
